body {
    font-family: 'Inter', sans-serif;
}
h1, h2, h3 .banner-heading .banner-launch-date .countdown-heading
    .email-early-access .social-proof-title {
        font-family: 'Playfair Display', serif;
}
/*fixing this navbar scrolling effect later*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: auto;
    height: 100px;
}
.nav-logo img {
    max-height: 100%;
}
/*
#navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50%;
    transition: top 0.3s;
}
#navbar-logo.show {
    top: 0;
}*/
.banner-container {
   
}
.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: fit;
}
.banner-image img {
    max-width: 100%;
    height: auto;
}
