body {
    font-family: 'Inter', sans-serif;
    background-color: #FFF7F9;
}
h1, h2, h3, .banner-heading, .banner-launch-date, .countdown-heading,
    .email-early-access, .social-proof-title {
        font-family: 'Playfair Display', serif;
}
.hero-section {
    background: url('https://drive.google.com/thumbnail?id=1TarhWNT3A8h6s-ev8AxgBTn5lYmB_doI&sz=w1200') ;
    background-size: cover;
    background-position: center;
    position: relative;
    max-width: auto;
    height: 500px;
    padding: 32px;
}
/*fixing this navbar scrolling effect later*/
.nav-bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: auto;
    height: 100px;
    margin-top: 0;
}
.nav-logo img {
    max-height: 100%;
}
/*
#navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50%;
    transition: top 0.3s;
}
#navbar-logo.show {
    top: 0;
}*/
.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 247, 249, 0.25);
}
.banner-text {
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}
.banner-heading {
    font-weight: 700;
    font-size: 64px;
    color: #2A2A2A;
}
.banner-subheading {
    font-weight: 400;
    font-size: 18px;
    color: #2A2A2A;
}
.banner-launch-date {
    color: #3b2a24;
    font-weight: 600;
    font-size: 28px;
    font-style: italic;
}
.banner-microtext {
    color: #3b2a24;
    font-weight: 400;
    font-size: 13px;
}
.banner-text button {
    background: #9e4a5a;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 14px 28px;
    border-radius: 999px;
    cursor: pointer;
}
.banner-text button:hover {
    background: #843947;
    transition-duration: 0.3s;
}
.countdown-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0 0 0 0.1);
}
.countdown-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.countdown-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6A8B7;
    padding: 15px;
    border-radius: 10px;
    width: 80px;
}
.countdown-box span:first-child {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 36px;
    color: #2b2b2b;
}
.countdown-box span:last-child {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #6f6f6f;
}
.countdown-heading {
    text-align: center;
}
.countdown-heading h2 {
    font-weight: 600;
    font-size: 40px;
}
.countdown-box {
    text-align: center;
}
.countdown-microtext {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #3B2A24;
}
.email-reg-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}
.email-reg-text {
    color: #7A1F2B;
    margin: 16px 64px;
    gap: 1rem;
}
.email-reg-text h2 {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}
.email-reg-text p {
    font-weight: 400;
    font-size: 16px;
    margin: 0.5 0 0;
}
.email-reg-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 16px 64px;
}
.email-reg-form input {
    padding: 14px 24px;
    margin: 4px 8px;
    border: 1px solid #F1D6DC;
    border-radius: 12px;
    width: 240px;
    box-sizing: border-box;
    outline: none;
}
/*input field CTA to fix*/
.input:focus {
    border-color: #C27A8A;
    outline: none;
}
.input:error {
    border: #C94A4A;
}
.email-reg-form button {
    background-color: #9E4A5A;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 999px;
    cursor: pointer;
}
.email-reg-form button:hover {
    background-color: #843947;
    transition-duration: 0.3s;
}
.product-container {
    align-items: center;
    justify-content: center;
    background-color: #FFF7F9;
    padding: 20px;
}
.product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.product-section img {
    position: relative;
    max-width: 100%;
    height: 350px;
    border-radius: 20px;
    margin: 24px;
    gap: 1rem;
}
.new-prod-lanina img {
    display: block;
    object-fit: cover;
    transition: opacity 0.3s ease;
    gap: 1rem;
}
.lanina-default {
    opacity: 1;
}
.lanina-hover {
    position: absolute;
    inset: 0;
    opacity: 0;
}
.new-prod-lanina:hover .lanina-default {
    opacity: 0;
}
.new-prod-lanina:hover .lanina-hover {
    opacity: 1;
}
.new-prod-enggach img {
    display: block;
    object-fit: cover;
    transition: opacity 0.3s ease;
    gap: 1rem;
}
.enggach-default {
    opacity: 1;
}
.enggach-hover {
    position: absolute;
    inset: 0;
    opacity: 0;
}
.new-prod-enggach:hover .enggach-default {
    opacity: 0;
}
.new-prod-enggach:hover .enggach-hover {
    opacity: 1;
}
.new-prod-twister img {
    display: block;
    object-fit: cover;
    transition: opacity 0.3s ease;
    gap: 1rem;
}
.twister-default {
    opacity: 1;
}
.twister-hover {
    position: absolute;
    inset: 0;
    opacity: 0;
}
.new-prod-twister:hover .twister-default {
    opacity: 0;
}
.new-prod-twister:hover .twister-hover {
    opacity: 1;
}
.social-proof-container {
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
}
.social-proof-section {
    display: block;
    justify-content: center;
   text-align: center;
   border-top: 1px solid #843947;
   border-bottom: 1px solid #843947;
}
h2.social-proof-title {

}


